<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>IBM Connections Developers - PhotoSharing Java</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<!--
			Timeout is set to 60 minutes, along with the max-age for the cookie being 60 minutes. 
			The max age should be inline with IBM Connections Cloud max login age of 18 hours.
		-->
		<session-timeout>60</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
			<max-age>60</max-age>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<deny-uncovered-http-methods />
	
	<icon>
	</icon>
	<security-constraint>
		<display-name>API Protection</display-name>
		<web-resource-collection>
			<web-resource-name>API Servlet</web-resource-name>
			<description>Protects the API Servlet</description>
			<url-pattern>/api/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Users</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<context-param>
		<description>The Application Configuration that stores the properties needed to access IBM Connections Cloud</description>
		<param-name>AppConfig</param-name>
		<param-value>/WEB-INF/appconfig.properties</param-value>
	</context-param>
	<servlet>
		<description>
			Login Servlet which is not security constrained
		</description>
		<display-name>Login Servlet</display-name>
		<icon>
			<small-icon />
			<large-icon />
		</icon>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>photosharing.api.LoginServlet</servlet-class>
		<enabled>true</enabled>
	</servlet>
</web-app>
